body {
  color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

/* //carousel */

.carousel{
  background: black;
}
.carousel-item{
  text-align: center;
  min-height: 280px; 
  /* Prevent carousel from being distorted if for some reason image doesn't load */
}

img {
  height: 900px;
  width: 500;
}

.card {
  margin: 30px;
  padding: 25px;
}