body {
  color: black;
}
/* //carousel */

.carousel{
  background: white;
}
.carousel-item{
  text-align: center;
  min-height: 280px; 
  /* Prevent carousel from being distorted if for some reason image doesn't load */
}

img {
  height: 900px;
  width: 500;
}

.card {
  margin: 30px;
  padding: 25px;
}

.newCase {
  background-color: #ff4d4d;
  color: black;
}

.totDeath{
  background-color: red;
  color: black;
}

.newDeath{
  background-color: black;
  color: white;
}

.recovered{
  background-color: #9aff9a;
  color: black;
}

.linkInfo{
  border: 2px solid rgb(0, 68, 255);
  border-radius: 50px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
}

/* nav */

.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: white;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: black;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: rgb(214, 214, 214);
}

/* container */

.container-fluid{
  margin-top: 79px;
}