{% extends "document.html" %}

{% block doc %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mr-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>Country Name</th>
                        <th>Total Cases</th>
                        <th class="newCase">New Cases</th>
                        <th class="totDeath">Total Death</th>
                        <th class="newDeath">New Death</th>
                        <th class="recovered">Total Recovered</th>
                        <th>Active Cases</th>
                        <th>Critical Cases</th>
                        <th>Total Cases Per Million</th>
                        <th>Total Death Per Million</th>
                    </tr>
                </thead>
            {% for response in responses%}
                <tbody>
                    <tr>
                        <td><a class="linkInfo" href="https://coronavirus-19-api.herokuapp.com/countries/{{response.country}}">i</a> {{response.country | capitalize}}</td>
                        <td>{{response.cases}}</td>
                        <td class="newCase">{{response.todayCases}}</td>
                        <td class="totDeath">{{response.deaths}}</td>
                        <td class="newDeath">{{response.todayDeaths}}</td>
                        <td class="recovered">{{response.recovered}}</td>
                        <td>{{response.active}}</td>
                        <td>{{response.critical}}</td>
                        <td>{{response.casesPerOneMillion}}</td>
                        <td>{{response.deathsPerOneMillion}}</td>
                    </tr> 
                </tbody>
            {% endfor %}

                <tbody>
                    <tr>
                        <td><a class="linkInfo" href="{{responses.country}}">i</a> {{responses.country | capitalize}}</td>
                        <td>{{responses.cases}}</td>
                        <td class="newCase">{{responses.todayCases}}</td>
                        <td class="totDeath">{{responses.deaths}}</td>
                        <td class="newDeath">{{responses.todayDeaths}}</td>
                        <td class="recovered">{{responses.recovered}}</td>
                        <td>{{responses.active}}</td>
                        <td>{{responses.critical}}</td>
                        <td>{{responses.casesPerOneMillion}}</td>
                        <td>{{responses.deathsPerOneMillion}}</td>
                    </tr> 
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}